<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="http://fonts.cdnfonts.com/css/games" rel="stylesheet">
    <style>
        @import url('http://fonts.cdnfonts.com/css/games');
    </style>

</head>
<body>
    <h1 style=" position: absolute; top: 5%; left: 18%; font-size:100px ;">
        Bienvenidx a PACIFIQUIZ</h1>
    
    
    
    <div>
        <form method="get" action="/login" style=" position: absolute; top: 30%; left: 15%; font-size: 30px;">
            <button type="submit"  style="background-color: #007bff;color: #ffff;border-color: #007bff;padding: 0.375rem 0.75rem;border-radius: 0.25rem;overflow: visible;border: 1px solid transparent;font-size: 30px;">
                INICIAR SESION
           </form>
    </div>

    <div>
        <form method="get" action="/registro" style=" position: absolute; top: 38%; left: 15%; font-size: 20px;">
            <button type="submit"  style="background-color: #00a6ff;color: #ffff;border-color: #00a6ff;padding: 0.375rem 0.75rem;border-radius: 0.25rem;overflow: visible;border: 1px solid transparent;font-size: 20px;">
                CREAR USUARIO
           </form>
    </div>


    <div>
        <form method="get" action="/tablero"  style=" position: absolute; top: 4%; right: 4%; font-size: 20px;">
            <button type="submit" style="background-color: #17a2b8;color: #ffff;border-color: #17a2b8;padding: 0.375rem 0.75rem;border-radius: 0.25rem;overflow: visible;border: 1px solid transparent;font-size: 20px;">
                TABLA DE POSICIONES
           </form>
    </div>


</body>
</html>