<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style=" position: absolute; top: 5%; left: 18%; font-size:100px;">
        BIENVENIDX {{user}}</h1>



    <div>
        <form method="get" action="/playGame" style=" position: absolute; top: 30%; left: 15%; font-size: 30px;" >
            <button type="submit"  style="background-color: #28a745;color: #ffff;border-color: #28a745;padding: 0.375rem 0.75rem;border-radius: 0.25rem;overflow: visible;border: 1px solid transparent;font-size: 30px">
                EMPEZAR JUEGO
           </form>
    </div>


    <div>
        <form method="get" action="/logout" style=" position: absolute; top: 4%; right: 4%;"    >
            <button type="submit" style="background-color: #343a40;color: #ffff;border-color: #343a40;padding: 0.375rem 0.75rem;border-radius: 0.25rem;overflow: visible;border: 1px solid transparent;">
                CERRAR SESION
           </form>
    </div>
    

    <div>
        <form method="get" action="/tablero" style=" position: absolute; top: 10%; right: 4%; font-size: 15px;">
            <button type="submit" style="background-color: #17a2b8;color: #ffff;border-color: #17a2b8;padding: 0.375rem 0.75rem;border-radius: 0.25rem;overflow: visible;border: 1px solid transparent;">
                TABLA DE POSICIONES
           </form>
    </div>



</body>
</html>