<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo usuario</title>
</head>
<body>
    <div style=" position: absolute; top: 6%; left: 15%; font-size: 25px;" >
        <form method="POST">
            {% csrf_token %}

            {{form.as_p}}

            <button type="submit" style="background-color: #28a745;color: #ffff;border-color: #28a745;padding: 0.375rem 0.75rem;border-radius: 0.25rem;overflow: visible;border: 1px solid transparent;">
                ENVIAR
            </button>

        </form>
    </div>



    <div>
        <form method="get" action="/login"style=" position: absolute; top: 70%; left: 8%; font-size: 30px;">
            <button type="submit" style="background-color: #007bff;color: #ffff;border-color: #007bff;padding: 0.375rem 0.75rem;border-radius: 0.25rem;overflow: visible;border: 1px solid transparent;font-size: 30px;">
                INICIAR SESION
           </form>
    </div>



    <div>
        <form method="get" action="/tablero"style=" position: absolute; top: 4%; right: 4%; font-size: 15px;">
            <button type="submit" style="background-color: #17a2b8;color: #ffff;border-color: #17a2b8;padding: 0.375rem 0.75rem;border-radius: 0.25rem;overflow: visible;border: 1px solid transparent;font-size: 20px;">
                TABLA DE POSICIONES
           </form>
    </div>




</body>
</html>